<h1>Add a new word</h1>

<form action="/new_words" method="post">
  <div class="form-group">
    <label for="new_word">What word would you like to learn today?!</label>
    <input id="add_word" name="new_word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-success">Let's add this word!</button>
</form>

<h3>Edit an existing word</h3>

<h4>Words: <%= @word %></h4>


<a href="/">Return to word list</a>

<h3>Delete a word</h3>