<h1>WORD WORD WORD! WORD IS THE WORD!</h1>

<h3>What words can we learn today?</h3>

<% if @words.any? %>
  <ul>
    <% @words.each do |library| %>
      <li><a href="/<%= library.id %>"><%= library.word %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>UH OH! There arent any words! What are we going to do?!</p>
  <p>Come on!  Let's add some words!</p>
  <a href="/new_words">Let's Do This!</a>
<% end %>


